# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg-info/
dist/
build/

# Ambientes e segredos
.env
.env.*
!.env.example
.venv/
venv/
env/

# Django
db.sqlite3
db.sqlite3-journal
*.log
staticfiles/
media/
local_settings.py

# Testes/IDE
.pytest_cache/
.coverage
htmlcov/
.vscode/
.idea/
.DS_Store
